<img id="fondo_ppal" src="/assets/imagenes/FondoGif.gif">

<style>
    img {
        margin: 0; /* Elimina el margen predeterminado del cuerpo */
        padding: 0; /* Elimina el relleno predeterminado del cuerpo */
        background-image: url('/assets/imagenes/FondoGif.gif'); /* Ruta de tu GIF */
        background: black;
        background-size: auto; /* Cubre todo el fondo */
        background-position: center; /* Centra el fondo */
        height: 888px; /* Establece la altura del cuerpo al 100% del viewport height */
        font-weight: 200px;
        display: grid;
        align-items: center;
        justify-content: center;
        color: white; /* Cambia el color del texto para que sea legible en el fondo */
        font-family: 'Arial', sans-serif; /* Cambia la fuente del texto */
    }
</style>