<h1 mat-dialog-title>Editando Título de Videojuego</h1>
<div mat-dialog-content>
    <p>{{datos.encabezado}}</p>
    <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="datos.titulo.nombre" 
            (input)="validarFormulario()" required>
        <mat-error *ngIf="!datos.titulo.nombre || datos.titulo.nombre.trim() === ''">
                El nombre es obligatorio.
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Año</mat-label>
        <input type="number" matInput [(ngModel)]="datos.titulo.ano" [max]="2025" [min]="1"
            (input)="validarFormulario()" required>
            <mat-error *ngIf="!datos.titulo.ano">
                Campo obligatorio.
            </mat-error>
            <mat-error *ngIf="datos.titulo.ano > 2025">
                Debe ser 2025 o menor.
            </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Director</mat-label>
        <input matInput [(ngModel)]="datos.titulo.director">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select [(value)]="datos.titulo.categoria!.id" (selectionChange)="validarFormulario()" required>
            <mat-option *ngFor="let p of datos.categorias" [value]="p.id">
                {{p.nombre}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="!datos.titulo.categoria || datos.titulo.categoria.id <= 0">
            Debes seleccionar una categoría.
        </mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="datos" 
        [disabled]="botonAceptarDeshabilitado" cdkFocusInitial>
            Aceptar
    </button>
</div>