body {
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  height: 70vh;
  flex-direction: column;
  background-color: #1a1a1a;
  padding: 16px;
}

.flex-1 {
  display: flex;
  height: 80vh;
  flex-direction: column;
  background-color: #1a1a1a;
  padding: 16px;
}

.bg-blue-500 {
  background-color: #3F51B5;
  color: white;
  padding: 8px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 1%;
}

.bg-white-500 {
  background-color: #333;
  color: white;
  padding: 8px;
  border-radius: 10px;
  display: inline-block;
  text-align: right;
  margin-top: 1%;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  border-radius: 10px 0 0 10px;
  border: 2px solid #3F51B5;
  background-color: #000;
  color: #3F51B5;
  outline: none;
}

button {
  background-color: #3F51B5;
  color: #000;
  padding: 8px;
  border-radius: 0 10px 10px 0;
  border: none;
  border-color: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1a1a1a;
  border: 2px solid #3F51B5;
}
