html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.screen-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #1a1a1a;
}

.container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 60%;
  background-color: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 0 10px #3F51B5;
}

.chat-window {
  flex: 1;
  overflow-y: auto;
  max-width: 100%; /* Tamaño del cuadro de chat */
  width: 60%;
  padding: 16px;
  background-color: #1a1a1a;
  border-radius: 10px;
  scroll-behavior: smooth;
}

.message {
  margin-bottom: 12px;
  max-width: fit-content;
  word-wrap: break-word;
}

.bot-message {
  background-color: #3F51B5;
  color: white;
  padding: 10px;
  border-radius: 10px;
  align-self: flex-start;
}

.user-message {
  background-color: #333333;
  color: white;
  padding: 10px;
  border-radius: 10px;
  align-self: flex-end;
}

.input-group {
  display: flex;
  align-items: center;
  margin: 2% 2% 2% 2%;
  margin-top: 16px;
}

textarea {
  padding: 12px;
  border-radius: 10px;
  border: 2px solid #3F51B5;
  background-color: #ffffff;
  color: #3F51B5;
  width: 80%;
  resize: none;
}

button {
  background-color: #3F51B5;
  width: 15%;
  margin-left: 2%;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1a1a1a;
  border: 2px solid #3F51B5;
}
