<div class="screen-center">
  <div class="container ">
    <div class="chat-window" #chatContainer>
      <div *ngFor="let message of list_msg" class="message"
          [ngClass]="{
              'bot-message': message.from === 'bot',
              'user-message': message.from === 'user'
          }">
        {{ message.text }}
      </div>
    </div>

    <div class="input-group">
      <textarea [(ngModel)]="msg" rows="5" placeholder="Escribe tu mensaje..."></textarea>
      <button (click)="send_message()">Enviar</button>
    </div>
  </div>
</div>
