<mat-toolbar class="mat-primary">Detalles de Alquiler</mat-toolbar>

<div>
  <button mat-raised-button color="primary" (click)="agregar()">Agregar</button>
  <button mat-raised-button color="accent" (click)="modificar()">Modificar</button>
  <button mat-raised-button color="warn" (click)="eliminar()">Eliminar</button>

  <ngx-datatable class="dark" [rows]="detalles" [columns]="columnas"
    [selectionType]="tipoSeleccion.single"
    [columnMode]="modoColumna.force"
    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
    (activate)="onActivate($event)">
  </ngx-datatable>
</div>
<!-- git para fabith -->