<h2 mat-dialog-title>{{ datos.encabezado }}</h2>
<mat-dialog-content>
  <form>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        [(ngModel)]="datos.categoria.nombre"
        name="nombre"
        required
        (ngModelChange)="validarFormulario()"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Descripción</mat-label>
      <textarea
        matInput
        [(ngModel)]="datos.categoria.descripcion"
        name="descripcion"
        required
        (ngModelChange)="validarFormulario()"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Clasificación Edad</mat-label>
      <mat-select
        [(ngModel)]="datos.categoria.clasificacion_edad"
        name="clasificacion_edad"
        required
        (ngModelChange)="validarFormulario()"
      >
        <mat-option value="niño">Niño</mat-option>
        <mat-option value="joven">Joven</mat-option>
        <mat-option value="adulto">Adulto</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Cancelar</button>
  <button
    mat-button
    color="primary"
    [disabled]="botonAceptarDeshabilitado"
    (click)="dialogRef.close({ categoria: datos.categoria })"
  >
    Aceptar
  </button>
</mat-dialog-actions>
