<mat-toolbar
  class="mat-primary mat-toolbar-single-row mat-elevatmat-z8 color-barra"
  color="primary"
>
  Titulos
</mat-toolbar>

<div style="width: 100%; display: flex; justify-content: flex-end">
  <div style="width: 70%; max-width: 300px; position: relative">
    <input
      type="text"
      class="form-control"
      style="width: 85%; padding-right: 40px; height: 35px; font-size: 1.1rem"
      placeholder="Titulo por Nombre o Director"
      [(ngModel)]="textoBusqueda"
      (input)="buscar()"
      aria-label="Buscar"
    />
    <span
      class="material-icons"
      style="
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: #888;
        pointer-events: none;
        font-size: 28px;
      "
      >search</span
    >
  </div>
</div>
<div>
  <button mat-raised-button color="primary" (click)="agregar()">Agregar</button>
  <button mat-raised-button color="accent" (click)="modificar()">
    Modificar
  </button>
  <button mat-raised-button color="warn" (click)="verificarEliminar()">
    Eliminar
  </button>
  <button mat-raised-button color="primary" (click)="descargarReporteTitulos()">
    Reporte Títulos
  </button>
  <ngx-datatable
    class="dark"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="20"
    [rows]="titulos"
    [columns]="columnas"
    [columnMode]="modoColumna.force"
    [limit]="10"
    [selectionType]="tipoSeleccion.single"
    (activate)="onActivate($event)"
    [rowHeight]="'auto'"
  >
  </ngx-datatable>
</div>
