/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "../node_modules/@swimlane/ngx-datatable/themes/material.css";
@import "../node_modules/@swimlane/ngx-datatable/themes/dark.css";
@import "../node_modules/@swimlane/ngx-datatable/themes/bootstrap.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

/* Pantalla pequeña (608x124) */
@media (max-width: 700px), (max-height: 200px) {
  body,
  app-root {
    font-size: 10px;
    padding: 2px;
    margin: 0;
  }
  .container,
  .content,
  .main {
    width: 100vw;
    min-height: 100vh;
    padding: 2px;
    box-sizing: border-box;
  }
  nav,
  header,
  footer {
    flex-direction: column;
    align-items: stretch;
  }
  /* Ajusta más clases según tu estructura */
}

/* Pantalla grande (1745x3339) */
@media (min-width: 1200px) and (min-height: 2000px) {
  body,
  app-root {
    font-size: 2.5rem;
    padding: 40px;
  }
  .container,
  .content,
  .main {
    max-width: 1600px;
    margin: auto;
    padding: 40px;
  }
  nav,
  header,
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
