<h1 mat-dialog-title>Editando Tecnologia</h1>
<div mat-dialog-content>
    <p>{{datos.encabezado}}</p>
    <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="datos.tecnologia.nombre"
            (input)="validarFormulario()" required>
        <mat-error *ngIf="!datos.tecnologia.nombre || datos.tecnologia.nombre.trim() === ''">
            El nombre es obligatorio
        </mat-error>
    </mat-form-field>
    <br>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="datos" 
        [disabled]="botonAceptarDeshabilitado" cdkFocusInitial>
            Aceptar
    </button>
</div>
